*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.background{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)), url(https://www.deltalife.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/t/e/tela_eletro_2.jpg);
    background-size: cover;
    background-position: center;
}
.butões{
    width: 97%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.butões ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.butões ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.butões ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.butões ul li:hover::after{
    width: 100%;
}
.texto1{
    width: 100%;
    position: absolute;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-align: 10px;
    text-align: left;
    color: #fff;
    text-size-adjust: auto;
}
